* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#e4fbff;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    margin-left: 80px;
    text-transform: uppercase;
    margin: 20px;
}


.menu{
    align-self: center;
    text-decoration: none;
    color: #394989;
    text-shadow: 2px 2px 5px;
}
.menu:hover{
    color: #7868e6;
}

@media all and (max-width: 800px){
    h1{
        font-size: 45px;
    }

}
@media all and (max-width: 500px){
    h1{
        font-size: 30px;
        margin-left: 50px;
    }
    
}
